.container {
  position: relative;
  /* width: 1200px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 2px solid tomato;*/
}

.container.head {
  padding-top: 0em;
  padding-bottom: 0;
}
