/*колір основого тексту #212121*/
/*колір вторинного кольору #757575*/
/*акцент #2196F3*/
/*білий колір тексту #FFFFFF*/
/*чорний колір тексту #000000*/
/*синій колір тексту #2196F3*/
/*колір тексту контактів rgba(255, 255, 255, 0.6)*/
/*колір фону шапки #FFFFFF*/
/*колір основного фону #E5E5E5*/
/*колір вторинного кольору #F5F4FA*/
/*колір підвалу #2F303A*/

$accent-color: #2196f3;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: rgba(47, 48, 58, 0.8);
$header-bg-color: #ffffff;
$footer-bg-color: #2f303a;
