.backdrop {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  /* min-height: 581px; */
  padding: 40px;

  background-color: #ffffff;

  @media screen and (max-width: 767px) {
    width: 450px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.form-field .comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  @media screen and (max-width: 767px) {
    max-width: 370px;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form .form-title {
  display: flex;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field .form-input {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    max-width: 370px;
  }
}

.form .button-close {
  position: absolute;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  padding: 0;
  transform: translate(30%, -30%);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  width: 30px;
  height: 30px;
  background-color: #ffffff;

  @media screen and (max-width: 767px) {
    top: 15px;
    right: 15px;
  }
}

.form-input:focus + .form-lable,
.form-input:not(:placeholder-shown) + .form-lable {
  color: $accent-color;
  transform: translate(-30px, -45px);
}

.form-field:focus-within .form-input,
.form-field:focus-within .comment {
  border: 1px solid $accent-color;
  border-radius: 4px;
}

.form-lable {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $secondary-text-color;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  position: absolute;
  top: 20px;
  left: 16px;

  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $secondary-text-color;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .comment:focus + .form-textarea,
.form-field .comment:not(:placeholder-shown) + .form-textarea {
  color: $accent-color;
  transform: translate(-5px, -45px);
}

.form-icon {
  position: absolute;
  display: inline-block;

  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon {
  fill: $accent-color;
}

.form-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: $secondary-text-color;
}

.policy-lable {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

.policy-terms {
  margin-left: 1px;
  color: $accent-color;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-color: $accent-color;
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  border-color: $accent-color;
  background-origin: border-box;
}
