.work .item {
  position: relative;
  flex-basis: calc((100% - 4 * 15px) / 2);
}

.variation {
  /* display: flex;
  justify-content: center;
  position: absolute; */
  bottom: 0;
  width: 100%;
}

.section.work {
  padding-top: 0;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.list.work .section-title {
  color: #ffffff;
  background: $hero-bg-color;
  border-radius: 0px 0px 4px 4px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.container .work {
  @extend %list;
  display: flex;
  justify-content: center;
}

.work .item {
  width: 370px;
  border-radius: 4px;
  overflow: hidden;
}

.work .item + .item {
  margin-left: 30px;
}
