.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $secondary-bg-color;
}

.team-list {
  /*   display: flex;
 */
}

.team-list-item {
  background-color: #ffffff;
  width: 270px;
  padding-bottom: 24px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-list .team-list-item + .team-list-item {
  margin-left: 30px;
}

.section-title.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list-item .section-title {
  margin-bottom: 10px;
}

.team-list-item .picture {
  margin-bottom: 30px;
}

.section-paragraph.team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.networks {
  @extend %list;
  /* display: flex;
  justify-content: space-evenly; */
}

.networks .item + .item {
  margin-left: 10px;
}

.networks .link {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks .link {
  &:hover {
    & .networks-icon {
      fill: #ffffff;
    }
  }
}
