.section-title.second {
  margin-top: 0;
  margin-bottom: 50px;
  color: $primary-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 28px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.advantages .section-title.second {
  @extend %visually-hidden;
}

.section.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages-list {
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 768px) {
    align-items: stretch;
  }
}

/* .advantages-list .advantages-item {
  width: 270px;
} */

.advantages-item {
  &::before {
    content: "";
    display: block;
    /* width: 270px; */
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    background-color: $secondary-bg-color;
  }

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.advantages-item {
  &:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
  }

  &:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
  }
}

.advantages-list .advantages-item + .advantages-item {
  /*  margin-bottom: 30px; */
}

.advantages-list .item {
  width: 278px;
}

.advantages-item .link {
  padding: 25px 100px;
  margin-bottom: 30px;

  background: $secondary-bg-color;
  border-radius: 4px;
}

.section-title.advantages {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-align: left;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

/* .advantages-list .section-paragraph {
  margin-bottom: 30px;
} */
